
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_LODeneme</title>
</head>
<body>
    <div> 
        <h3>Burası Deneme Layout'udur.</h3> 
        <h4>Sabit  İçerikler Burada Yer Alır</h4>
    </div>

    <div>
        <hr />
        <h3>Burası RenderBody'dir.</h3>
        <h4>Bu Template'i Yani Bu Layoutu Kullanan Sayfaların İçindekiler Burada Yer Alır</h4>
        @RenderBody()
    </div>
</body>
</html>
