@model List<EntityLayer.Concrate.Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>GetAllContent</h2>
@using (Html.BeginForm("GetAllContent", "Content", FormMethod.Post))
{
    <div class="form-group w-50">
        <label for="search">Search:</label>
        @Html.TextBox("p", null, new { @class = "form-control", placeholder = "Enter search term" })
    </div>
    <button type="submit" class="btn btn-primary mb-2">Search</button>
    <table class="table table-bordered">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContentValue</td>
            </tr>
        }
    </table>
}

