
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>ToDoList</h2>
<ol class="font-weight-bold">
    <li>Profilim Sayfası</li>
    <li>Tüm başlıklarga paging</li>
    <li class="text-success">mesajlarda session</li>
    <li class="text-success">oturum mimariye taşınsın</li>
    <li>token kullanımı</li>
</ol>

